@import "./utils/colors.scss";
@import "./utils/mixins.scss";

.features {
    position: relative;
    margin: auto;
    background: $dark-blue-main;

    @include smallerThanDesktop {
        max-width: 400px;
        margin: 0 auto 80px;
    }

    .row {
        margin: auto;
        max-width: 100%;
        width: 800px;
        overflow: auto;

        .feature {
            float: left;
            flex: 1;
            width: 300px;
            text-align: center;
            padding: 30px 50px;

            @include smallerThanDesktop {
                width: unset;
            }

            img {
                height: 50px;
                margin-bottom: 12px;
            }

            .title {
                font-weight: 700;
                margin-bottom: 12px;
            }

            .description {
                font-size: 12px;
                line-height: 16px;
            }
        }

        .feature:nth-child(1) {
            clear: left;
        }
    }
}