@import "./utils/colors.scss";
@import "./utils/mixins.scss";


footer {
    position: relative;
    margin: 40px auto 80px;
    width: 860px;
    display: grid;
    align-items: flex-start;
    row-gap: 16px;
    column-gap: 60px;
    grid-template-columns: 450px 185px 105px;
    grid-template-areas: "logo . .""left-block center-block right-block";
    font-size: 12px;
    line-height: 16px;

    @include smallerThanDesktop {
        grid-template-areas:
            "logo"
            "left-block"
            "center-block"
            "right-block";
        max-width: 400px;
        margin: 30px auto 80px;
    }

    .logo {
        grid-area: logo;

        @include smallerThanDesktop {}

        img {
            width: 100px;

            @include smallerThanDesktop {
                width: 80px;
            }
        }
    }

    .left-block {
        grid-area: left-block;
        display: flex;
        margin-bottom: 16px;

        img {
            width: 18px;
            filter: invert(1);

            @include smallerThanDesktop {}
        }

        .sub-block-1,
        .sub-block-2>* {
            display: flex;
            align-items: flex-start;
            margin-bottom: 16px;
            margin-right: 32px;

            .description {
                margin-left: 8px;
            }
        }
    }


    .center-block {
        grid-area: center-block;
        column-count: 2;

        .link {
            margin-bottom: 12px;
        }
    }

    .right-block {
        grid-area: right-block;
        display: flex;

        .link a .icon {
            width: 24px;
            filter: invert(1);

            @include smallerThanDesktop {}
        }
    }
}