@import "./utils/colors.scss";
@import "./utils/mixins.scss";

.get-early-access {
    width: 550px;
    max-width: 100%;
    background: $dark-blue;
    text-align: center;
    padding: 30px 20px;
    margin: 0 auto;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    transform: translateY(-100px);


    @include smallerThanDesktop {
        margin: 0 auto;
        max-width: calc(100% - 40px);
        transform: translateY(-130px);
    }

    .title {
        font-size: 18px;
        font-weight: 700;
        line-height: 36px;
        margin-bottom: 12px;

        @include smallerThanDesktop {
            font-size: 16px;
            text-align: center;
            line-height: unset;
        }
    }

    .description {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 24px;
        letter-spacing: .5px;

        @include smallerThanDesktop {
            font-size: 13px;
            line-height: 20px;
        }
    }

    .form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        @include smallerThanDesktop {
            flex-direction: column;
            margin: 0 32px;
        }

        .input {
            @include smallerThanDesktop {
                display: flex;
                width: 100%;
            }

            input {
                width: 300px;
                max-width: 100%;
                border-radius: 24px;
                border: 0;
                margin-right: 16px;
                padding: 10px 20px;

                @include smallerThanDesktop {
                    width: 100%;
                    margin: 0 0 16px;
                    padding: 16px 20px;
                }
            }

            input:focus {
                outline: none;
            }

            input::placeholder {
                color: lightgray;
            }
        }

        .button {

            @include smallerThanDesktop {
                display: flex;
                width: 100%;
            }

            a {
                padding: 10px 20px;

                @include smallerThanDesktop {
                    width: 100%;
                    padding: 16px 20px;
                }
            }
        }
    }
}