@import "./utils/colors.scss";
@import "./utils/mixins.scss";

.testimonials {
    display: flex;
    justify-content: center;
    margin: 40px auto 80px;
    padding-top: 10px;
    width: 1000px;
    max-width: 100%;

    @include smallerThanDesktop {
        display: block;
        width: 370px;
        margin: 30px auto 80px;
    }

    .testimonial {
        flex: 1;
        width: 250px;
        background: $dark-blue-testimonials;
        padding: 20px;
        margin: 0 16px;
        z-index: 2;

        @include smallerThanDesktop {
            margin: 0 auto 24px;

            &:last-of-type {
                margin: 0 auto;
            }
        }

        .description {
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 16px;
        }

        .author {
            display: flex;
            align-items: center;

            .icon {
                margin-right: 10px;

                img {
                    width: 32px;
                    border-radius: 30px;
                }
            }

            .name {
                font-size: 10px;
                font-weight: 700;
                margin: 0 0 3px;
            }

            .subtitle {
                font-size: 8px;
                margin: 0;
            }
        }
    }
}

.testimonials::before {
    background-image: url("/images/bg-quotes.png");
    background-size: 30px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    content: "";
    transform: translate(60%, -70%);

    @include smallerThanDesktop {
        transform: translate(50%, 70%)
    }
}

.testimonials::after {
    background-image: url("/images/bg-quotes.png");
    background-size: 30px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    content: "";
    margin: auto 0 0;
    transform: translate(-10%, 70%) rotate(180deg);

    @include smallerThanDesktop {
        margin-left: 100%;
        transform: translate(-150%, -40%) rotate(180deg);
    }
}