<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  {{ $style := resources.Get "scss/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" />
  <title>Dark theme landing page</title>
</head>

<body>
  <header>
    {{ with .Site.GetPage "/header" }}
    {{ range.Params.Blocks }}
    <div class="logo">
      {{ partial "components/link.html" (dict "icon" .icon "label" "" "url" "/#" )}}
    </div>
    <div class="links">
      {{ range.links }}
      {{ partial "components/link.html" . }}
      {{ end }}
    </div>
    {{ end }}
    {{ end }}
  </header>